<!DOCTYPE html>
<style>
    .topnav {
      overflow: hidden;
      background-color: #333;
    }
  
    .topnav a {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
  
    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }
  
    .topnav a.active {
      background-color: #2fa7cc;
      color: white;
    }
  </style>
  <head>
    <title>{% block title %}  -LOTUS{% endblock %}</title>
  </head>
<body style="background-color: #55B6AF;">
    <div class="topnav" >
        <a href="/">Главная страница</a>
        <a href="/assign">Врач</a>
    </div>
    <div>
      {% block content %}{% endblock %} 
    </div>
       
</body>
{% block script %} {% endblock %}
</html>