{% extends 'base.html' %} 
{% block title %}PATIENTS - {{day}} {% endblock %}
{% block content %}
  <div style="padding:10px;">
    <table id="data" style="margin: auto;
    padding:20px;
    width: 600px;
    display: block;
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #fff;">
      <thead>
        <tr>
          <th style = "  border: 1px solid black;">Дата</th>
          <th style = "  border: 1px solid black;">ФИО Пациента</th>
          <th style = "  border: 1px solid black;">М\Ж\Р</th>
        </tr>
      </thead>
      <tbody style="text-align: center;
      font-weight: normal; color:white">
        {% for patient in patients %}
          <tr>
            <td style = "  border: 1px solid black;">{{ patient.time}}</td>
            <td style = "  border: 1px solid black;">{{ patient.patient}}</td>
            <td style = "  border: 1px solid black;">{{ patient.type }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% if  isActive %}
  <div>
    <h2>Введите ФИО Пациента</h2>
    <form method="POST" >
      <input name="name" placeholder="ФИО пациента">
      <input type="hidden" list="type">
      <select name="type" id="type">
        <option value="" selected>выберите тип пациента</option>
        <option value="M">МУЖЧИНА</option>
        <option value="Ж">ЖЕНЩИНА</option>
        <option value="Р">РЕБЕНОК</option>
      </select>
      <input type="submit">
    </form>
  </div>
  {% endif %}
{% endblock %}
{% block javascripts_local %}
  {{ super() }} {# to load the parent assets #}
  <script>
    var pBody = document.querySelector('#data');
    pBody.scrollTop = pBody.scrollHeight - pBody.clientHeight;
    var username = {{ isActive }}
    if(username){
      
    }
  </script>
{% endblock %}