{% extends 'base.html' %} 
{% block title %}PATIENTS - {{day}} {% endblock %}
{% block content %}
  <div style="padding:10px;">
    <table id="data" style="margin: auto;
    padding:20px;
    width: 650px;
    display: block;
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #fff;">
      <thead>
        <tr>
          <th style = "  border: 1px solid black;">Номер</th>
          <th style = "  border: 1px solid black;">Время приема</th>
          <th style = "  border: 1px solid black;">ФИО Пациента</th>
          <th style = "  border: 1px solid black;">М\Ж\Р</th>
          <th style = "  border: 1px solid black;">Дата рождения</th>
          <th style = "  border: 1px solid black;">Причина</th>
          <th style = "  border: 1px solid black;">Давление</th>
        </tr>
      </thead>
      <tbody style="text-align: center;
      font-weight: normal; color:white">
        {% for patient in patients %}
          <tr>
            <td style = "  border: 1px solid black;">{{ patient.id}}</td>
            <td style = "  border: 1px solid black;">{{ patient.time}}</td>
            <td style = "  border: 1px solid black;">{{ patient.patient}}</td>
            <td style = "  border: 1px solid black;">{{ patient.type }}</td>
            <td style = "  border: 1px solid black;">{{ patient.birthdate }}</td>
            <td style = "  border: 1px solid black;">{{ patient.reason }}</td>
            <td style = "  border: 1px solid black;">{{ patient.pressure }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% if  isActive %}
  {% if error!= "" %}
  <h8 style = "color:red">{{error}}</h8>
  {% endif%}
  <div>
    <h2>Введите Данные Пациента № {{length}}</h2>
    <form method="POST" >
      <input type="hidden" value= {{length}} name = "id"  readonly>
      <input name="name" placeholder="ФИО пациента">
      <input type="hidden" list="type">
      <select name="type" id="type">
        <option selected disabled>выберите тип пациента</option>
        <option value="М">МУЖЧИНА</option>
        <option value="Ж">ЖЕНЩИНА</option>
        <option value="Р">РЕБЕНОК</option>
      </select>
      <input type="text" name="birthdate" placeholder="Дата рождения"
        onfocus="(this.type='date')">
      <input name="reason" placeholder="Тема беседы">
      <input name="pressure" placeholder="Давление">
      <div>
        <input type="submit">
      </div>
    </form>
  </div>
  {% endif %}
{% endblock %}
{% block javascripts_local %}
  {{ super() }} {# to load the parent assets #}
  <script>
    var pBody = document.querySelector('#data');
    pBody.scrollTop = pBody.scrollHeight - pBody.clientHeight;
    var username = {{ isActive }}
    if(username){ 
    }
  </script>
{% endblock %}