{% extends 'base.html' %} 
{% block title %}PATIENTS - {{day}} {% endblock %}
{% block style_local %}
  {{ super() }} {# to load the parent assets #}
  <style>
    div {
      padding:10px;
    }

    .filter-table {
      border-collapse: collapse;
    }
    
    .filter-table {
      margin: auto;
      padding:20px;
      width: 650px;
      display: block;
      height: 300px;
      overflow-y: scroll;
      border: 1px solid #fff;
    }
    
    .filter-table thead {
      border-bottom: thin solid grey;
    }
    
    .filter-table th, .filter-table td {
      padding: 0.25em 0.5em;
    }
    
    .filter-table th {
      background: #CCC;
    }
    
    .hidden-row {
      display: none;
    }
  </style>
{% endblock %}  
{% block content %}
  <div>
    <select id="filter" data-field="Врач">
      <option value="" selected>все</option>
      {% for doctor in doctors %}
      <option value ={{doctor.name}}> {{doctor.name}} </option>
      {% endfor %}
    </select>
  </div>
  <div>
    <table id="data" class="filter-table">
      <thead>
        <tr>
          <th style = "  border: 1px solid black;">Номер</th>
          <th style = "  border: 1px solid black;">Время приема</th>
          <th style = "  border: 1px solid black;">ФИО Пациента</th>
          <th style = "  border: 1px solid black;">Врач</th>
          <th style = "  border: 1px solid black;">М\Ж\Р</th>
          <th style = "  border: 1px solid black;">Дата рождения</th>
          <th style = "  border: 1px solid black;">Причина</th>
          <th style = "  border: 1px solid black;">Давление</th>
        </tr>
      </thead>
      <tbody style="text-align: center;
      font-weight: normal; color:white">
        {% for patient in patients %}
          <tr>
            <td style = "  border: 1px solid black;">{{patient.id}}</td>
            <td style = "  border: 1px solid black;">{{patient.time}}</td>
            <td style = "  border: 1px solid black;">{{patient.patient}}</td>
            <td style = "  border: 1px solid black;">{{patient.doc}}</td>
            <td style = "  border: 1px solid black;">{{patient.type }}</td>
            <td style = "  border: 1px solid black;">{{patient.birthdate }}</td>
            <td style = "  border: 1px solid black;">{{patient.reason }}</td>
            <td style = "  border: 1px solid black;">{{patient.pressure }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% if  isActive %}
  {% if error!= "" %}
  <h8 style = "color:red">{{error}}</h8>
  {% endif%}
  <div>
    <form method="POST" >
      <div>
        <input type="hidden" list="userA" id = "docid"/>
        <select id="userA" name="doc" onchange=updateNumFuncction()>
            <option value="" selected>выберите врача/категория/кол-во</option>
            {% for doctor in doctors %}
            <option value = {{doctor.id}} data-rc={{doctor.num}}  > {{doctor.name}} / {{doctor.spec}} / {{doctor.num}}
            </option>
            {% endfor %}
        </select>
        <input name="reason" placeholder="Тема беседы">
        <input name="pressure" placeholder="Давление">
    </div>
    <div>
      <p id="demo"></p>
    </div>
      <input type="hidden" name = "id" id="id">
      <input name="name" placeholder="ФИО пациента">
      <input type="hidden" list="type">
      <select name="type" id="type">
        <option selected disabled>выберите тип пациента</option>
        <option value="М">МУЖЧИНА</option>
        <option value="Ж">ЖЕНЩИНА</option>
        <option value="Р">РЕБЕНОК</option>
      </select>
      <input type="text" name="birthdate" id="bday" placeholder="Дата рождения"
        onfocus="myFunction(this)">
      
      <div>
        <input type="submit">
      </div>
    </form>
  </div>
  {% endif %}
{% endblock %}
{% block javascripts_local %}
  {{ super() }} {# to load the parent assets #}
  <script>
    var selection = document.getElementById("userA")
    var patientId = document.getElementById("id")

    selection.onchange = function(event){
      if(selection.value !== ""){
        var rc = event.target.options[event.target.selectedIndex].dataset.rc;
        var num = parseInt(rc) + 1;
        patientId.value = num;
        document.getElementById("demo").innerHTML = "Данные для пациента № " + num;

      }
    }

    
    if({{ isActive|tojson }}){ 
      var pBody = document.querySelector('#data');
      pBody.scrollTop = pBody.scrollHeight - pBody.clientHeight;
    }
    
    function myFunction(x) {
      var type = document.getElementById("type");
      x.type = "date";
      x.min = {{ century|tojson }};
      if(type.value == "М" || type.value == "Ж"){
        x.max = {{ grown|tojson }};
      }
      else{
        x.max = {{ day|tojson }};
      }
      }

      {# to filter #}
      const
        table = document.querySelector('.filter-table'),
        filterState = {};

      const dataFromRow = (row, headers) =>
        Object.fromEntries([...row.querySelectorAll('td')]
          .map((td, index) => [headers[index], td.textContent]));

      const matchesCriteria = (rowData, filters) =>
        filters.every(([key, value]) => rowData[key] === value);

      const refresh = () => {
        const
          headers = [...table.querySelectorAll('thead th')].map(th => th.textContent),
          filters = Object.entries(filterState),
          showAll = filters.length === 0;
        table.querySelectorAll('tbody tr').forEach(row => {
          const show = showAll || matchesCriteria(dataFromRow(row, headers), filters);
          row.classList.toggle('hidden-row', !show);
        });
      };

      const handleFilterChange = (e) => {
        const
          field = e.target.dataset.field,
          value = e.target.value;
        if (value) { filterState[field] = value; }
        else { delete filterState[field]; }
        refresh();
      };

      document.querySelectorAll('.filter').forEach(filter =>
        filter.addEventListener('change', handleFilterChange));
  </script>
{% endblock %}