{% extends 'base.html' %} 
{% block title %}LOTUS{% endblock %}
{% block content %}
  <div style="padding:30px;">
    <table id="data" style="margin: auto;
    padding:20px;
    width: 600px;
    border-collapse: collapse;
    border: 1px solid #fff; /*for older IE*/
    border-style: hidden;">
      <thead style = " padding: 8px;
      background-color: grey;
      font-size: large;">
        <tr style="padding: 3px;
        border-width: 1px;
        border-style: solid;
        border-color: white;">
          <th>Дата</th>
          <th>ФИО врача</th>
          <th>количество принятых пациентов</th>
        </tr>
      </thead>
      <tbody style="text-align: center;
      font-weight: normal; color:white">
        {% for record in records %}
          <tr>
            <td>{{ record.date}}</td>
            <td>{{ record.doctor}}</td>
            <td>{{ record.patients }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}