{% extends 'base.html' %} 
{% block title %}OVERVIEW {% endblock %}
{% block content %}
  <div style="padding:30px;">
    <table id="data" style="margin: auto;
    padding:20px;
    width: 600px;
    border: 1px solid #fff;">
      <thead style = " padding: 8px;
      background-color: grey;
      font-size: large;">
        <tr style="padding: 3px;
        border: 1px solid black;">
          <th style = "  border: 1px solid black;">ВРЕМЯ</th>
          <th style = "  border: 1px solid black;">Пациенты</th>
          <th style = "  border: 1px solid black;">Р</th>
          <th style = "  border: 1px solid black;">Ж</th>
          <th style = "  border: 1px solid black;">М</th>
          <th style = "  border: 1px solid black;"></th>
          <th style = "  border: 1px solid black;"></th>
        </tr>
      </thead>
      <tbody style="text-align: center;
      font-weight: normal; color:white">
        {% for record in records %}
          <tr>
            <td style = "  border: 1px solid black;">{{ record.date}}</td>
            <td style = "  border: 1px solid black;">{{ record.patients }}</td>
            <td style = "  border: 1px solid black;">{{ record.child }}</td>
            <td style = "  border: 1px solid black;">{{ record.woman }}</td>
            <td style = "  border: 1px solid black;">{{ record.men }}</td>
            <td style = "  border: 1px solid black;"><form action="/day/{{record.date}}">
              <input type="submit" value="детали" />
          </form></td>
          <td style = "  border: 1px solid black;"><form action="/count/{{record.date}}">
            <input type="submit" value="итог" />
        </form></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}