{% extends 'base.html' %} 
{% block title %}Report - {{day}} {% endblock %}
{% block style_local %}
  {{ super() }} {# to load the parent assets #}
  <style>
    div {
      padding:10px;
    }    
    table {
      width: 90vw;
      margin: 10px auto;
      padding:20px;
      display: block;
      height: 300px;
      overflow-y: scroll;
      border: 2px solid #ddd;
      border-radius: 8px;
    }
    
    th, td {
      padding: 0.25em 0.5em;
      border: 1px solid black;
    }
  </style>
{% endblock %}  
{% block content %}
  <div>
    <h4>Отчет за {{day}} число</h4>
  </div>
  <div>
    <table id="data">
      <thead>
        <tr>
          <th>ФИО ВРАЧА</th>
          <th>М</th>
          <th>Ж</th>
          <th>Р</th>
          <th>ИТОГО</th>
        </tr>
      </thead>
      <tbody>
        {% for report in reports %}
          <tr>
            <td>{{ report.name}}</td>
            <td>{{ report.men }}</td>
            <td>{{ report.woman }}</td>
            <td>{{ report.child }}</td>
            <td>{{ report.total }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}